.MailsEnviados{
      max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}
.mails{
   margin: auto;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20);
      
}

.tablaMails{
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  
}

.tablaMails th,
.tablaMails td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  padding: 10px 30px;
}

.tablaMails th {
  background-color: #f3f4f6;
  font-weight: 500;
}