.MailsEnviados{
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}

.mails {
  display: inline-block;          /* Se encoge al tamaño de su contenido */
  margin: 20px auto;              /* Centrado horizontal (necesita display inline-block) */
  padding: 10px 20px;             /* Ajusta a tu gusto */
  background: white;
  border: 2px solid #e5e7eb;      /* Aquí defines el borde */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.20); /* Opcional, si quieres sombra detrás */
  text-align: center;             /* Centra el texto dentro del propio h2 */
  font-size: 1.5rem;              /* Ajusta tamaño si lo necesitas */
}

.tablaMails{
  font-size: 14px;
  border-collapse: collapse;
  height: 70%;
}

.tablaMails th,
.tablaMails td {
 padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  box-sizing: border-box;

}

.tablaMails th {
  background-color: #f3f4f6;
  font-weight: 500;
}