.MailsEnviados{
  padding: 20px;
}

.mails {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;  
  font-size: 1.5rem; 
}

.tabla{
  max-height: calc(100vh - 200px);;
  overflow-y: auto;
}

.tablaMails{
  font-size: 14px;
  border-collapse: collapse;
}

.tablaMails th,
.tablaMails td {
 padding: 10px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  box-sizing: border-box;

}

.tablaMails th {
  background-color: #f3f4f6;
  font-weight: 500;
}