.estadisticas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding-bottom: 10px;
}

.data {
  flex-basis: calc(50% - 10px); /* Que ocupe casi la mitad y se ajuste si es necesario */
  min-width: 300px;
  height: 300px;
  max-height: 300px;
  width: 100%;
}

.data h3 {
  margin-bottom: 10px; /* Espacio debajo del título */
}

.data > .recharts-responsive-container { /* Seleccionar el ResponsiveContainer dentro de .data */
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titulo-torta {
  padding-left: 90px; /* Ajustá según necesidad */
}

.recharts-legend-wrapper {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 10px;
}
