.estadisticas {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.graficos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.chart-container {
  flex: 1 1 48%; /* Ocupa casi la mitad del contenedor */
  min-width: 300px;
  height: 300px;
}

.estadisticas-header {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.estadisticas-header button {
  padding: 8px 16px;
  background-color: #6D7CFF;
  color: #F4F4F4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
  letter-spacing: 0.5px;
}
.estadisticas-header button:hover {
  background-color: #5A6EE0;
}

.data{ 
  flex: 1 1 48%;
  min-width: 300px;
  max-width: 48%;
  height: 300px;
}
.years-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px 0;
}

.years-selection button {
  padding: 10px 20px;
  background-color: #6D7CFF;
  color: #F4F4F4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.years-selection button:hover {
  background-color: #5A6EE0;
}

.button-outline {
  background-color: transparent;
  border: 2px solid #6D7CFF;
  color: #6D7CFF;
}
.button-outline:hover {
  background-color: #6D7CFF;
  color: #F4F4F4;
}

/* Variante alerta */
.button-alert {
  background-color: #FF1974;
  color: #F4F4F4;
}
.button-alert:hover {
  background-color: #E01667;
}